@media screen and (min-width: 1100px) {
  .form-submission-success-layout {
    --_grid-col-gap: 2rem;
    --_grid-row-gap: 1rem;

    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header banner'
      'content banner';
    gap: var(--_grid-row-gap) var(--_grid-col-gap);
  }

  [lang='ur'] .form-submission-success-layout {
    --_padding-inline: 3rem;
  }

  .form-submission-success-layout [data-layout-group='header'] {
    grid-area: header;
  }

  .form-submission-success-layout [data-layout-group='banner'] {
    --_gradient-start: hsla(0, 0%, 0%, 0) 0%;
    --_gradient-end: hsla(0, 0%, 0%) 75%;
    --_gradient-angle: to bottom;

    --_banner-text-size: 8.5rem;
    --_banner-text-letter-spacing: -4px;
    --_banner-text-align: left;
    --_banner-text-max-width: 10ch;
    --_banner-text-margin-left: 0;

    grid-area: banner;
    height: 100%;
  }

  .form-submission-success-layout [data-layout-group='content'] {
    grid-area: content;
    align-self: center;
  }
}

.form-submission-success {
  text-align: center;
}

.form-submission-success > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-submission-success > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-submission-success__message h1 {
  --_font-size: 2.25rem;
  font-size: var(--_font-size);
}

.form-submission-success__details p {
  --_font-size: 1rem;
  --_font-weight: 500;

  color: hsla(0, 0%, 0%, 0.5);
  font-size: var(--_font-size);
  font-weight: var(--_font-weight);
}

[lang='ur'] .form-submission-success__details p {
  --_font-size: 1.25rem;
  --_font-weight: 600;
}

.form-submission-success__details .buttons-group {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 1100px) {
  .form-submission-success__message h1 {
    --_font-size: 3.5rem;
  }

  .form-submission-success__details p {
    --_font-size: 1.125rem;
    --_font-weight: 600;
  }

  [lang='ur'] .form-submission-success__details p {
    --_font-size: 1.5rem;
  }

  [lang='ur'] .form-submission-success__message h1 {
    --_font-size: 4rem;
  }
}
